.searchBar {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bar {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 9rem;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
  opacity: 0.8;
  transition: 0.5s;
}

.search {
  font-weight: bold;
  padding: 0 15px;
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  color: #2d2a32;
  background-color: var(--candy-pink);
  transition: 0.5s;
}

.search:hover {
  background-color: var(--candy-pink-light);
}

@media (max-width: 640px) {
  .bar {
    width: 6rem;
  }

  .search {
    width: 5rem;
    padding-left: 0.5rem;
  }
}

